---
import ThemeToggle from "../components/ThemeToggle.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tools from "../components/Tools.astro";
import Languages from "../components/Languages.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portfolio de Adrián Sanchis">
  <main
    class="relative p-4 h-full flex flex-col justify-center md:w-[650px] md:mx-auto"
  >
    <ThemeToggle />
    <div class="grid grid-cols-2 gap-y-5 md:grid-cols-4 gap-x-5">
      <Card class="w-full border border-card dark:border-cardDark">
        <img
          class="object-cover aspect-square"
          src="/images/fotoEmpresa.webp"
          alt="foto de Adrián Sanchis"
        />
      </Card>
      <Card class="p-3 w-full float-right">
        <div class="flex flex-col justify-between h-full text-pretty">
          <p class="text-xs">Hey 👋, Soy</p>

          <div>
            <p class="text-sm font-semibold">Adrián Sanchis</p>
            <h2 class="text-xs text-[#5C5C5C] dark:text-gray-300/80">
              Desarrollador de software
            </h2>
          </div>
        </div>
      </Card>
      <Contact />
    </div>
    <div class="flex flex-col gap-y-5 md:flex-row gap-x-5 mt-5 w-full">
      <Experience />
      <Tools />
    </div>
    <div class="flex flex-col gap-y-5 md:flex-row gap-x-5 mt-5 w-full">
      <Projects />
      <div class="flex-1 flex flex-col gap-y-4">
        <Education />
        <Languages />
      </div>
    </div>
  </main>
</Layout>
