---
import Card from "../components/Card.astro";

const EDUCATION = [
  {
    date: "2020 - 2021",
    title:
      "Master en Tecnologías web, Computación en la nube y Aplicaciones móviles",
    institution: "Universitat de Valencia",
  },

  {
    date: "2015 - 2020",
    title: "Grado en Ingeniería Informática",
    institution: "Universitat Jaume I",
  },
  {
    date: "2013 - 2015",
    title: "Bachillerato Internacional",
    institution: "Lledo International School",
  },
];
---

<Card class="h-auto p-3 flex flex-col gap-y-4 w-1/2">
  <h1 class="text-sm font-medium">Educación</h1>
  <div class="flex flex-wrap gap-4">
    {
      EDUCATION.map(({ date, title, institution }, index) => (
        <>
          <Card
            class={`p-3 w-32 h-auto flex flex-col gap-y-2 ${index === 0 ? "bg-highlight" : "bg-white"}`}
          >
            <div>
              <p class="text-medium font-medium">{date}</p>
            </div>
            <p class="text-medium font-medium text-pretty">{title}</p>
            <p class="text-small">{institution}</p>
          </Card>
        </>
      ))
    }
  </div>
</Card>
