---
import Card from "../components/Card.astro";
import LanguageItem from "../components/LanguageItem.astro";
---

<Card class="w-72 h-32 p-3 flex flex-col justify-between">
  <p class="text-sm font-medium">Idiomas</p>
  <div class="flex flex-col gap-y-1">
    <LanguageItem name="Español" level="full" />
    <LanguageItem name="Ingles" level="32" />
    <LanguageItem name="Valenciano" level={32} />
  </div>
</Card>
