---
import Card from "../components/Card.astro";
import LanguageItem from "../components/LanguageItem.astro";
---

<Card class="col-span-2 w-full p-3 flex flex-col justify-between">
  <p class="text-sm font-medium">Idiomas</p>
  <div class="flex flex-col gap-y-1">
    <LanguageItem class="w-full" name="Español" />
    <LanguageItem class="w-32" name="Ingles" />
    <LanguageItem class="w-32" name="Valenciano" />
  </div>
</Card>
