---
import Card from "../components/Card.astro";
import LanguageItem from "../components/LanguageItem.astro";
import TitleHeader from "./TitleHeader.astro";
import LanguageIcon from "../icons/Language.astro";
---

<Card class="w-full p-3 flex flex-col gap-y-3 justify-between">
  <TitleHeader title="Idiomas">
    <LanguageIcon class="size-5" />
  </TitleHeader>
  <div class="flex flex-col gap-y-1">
    <LanguageItem class="w-full" name="Español" level="Nativo" />
    <LanguageItem class="w-full" name="Valenciano" level="Nativo" />
    <LanguageItem class="w-32" name="Ingles" level="Intermedio" />
  </div>
</Card>
