---
import Card from "../components/Card.astro";
import Pill from "../components/Pill.astro";
import ReactIcon from "../icons/React.astro";
import FlutterIcon from "../icons/Flutter.astro";
import AwsIcon from "../icons/Aws.astro";
import RubyIcon from "../icons/Ruby.astro";
import DartIcon from "../icons/Dart.astro";
import JavaScriptIcon from "../icons/JavaScript.astro";
import TypeScriptIcon from "../icons/TypeScript.astro";
import ReactQueryIcon from "../icons/ReactQuery.astro";
---

<Card class="p-4 flex flex-col gap-y-4 md:w-1/3">
  <h1 class="text-sm font-medium">Herramientas</h1>
  <div class="flex flex-col gap-y-4 p-x-4">
    <Card
      class="bg-white p-4 flex justify-center flex-wrap gap-4 relative overflow-visible"
    >
      <Pill class="bg-black text-white absolute -top-2 h-3">Tecnologías</Pill>
      <ReactIcon class="size-6" />
      <ReactQueryIcon class="size-6" />
      <FlutterIcon class="size-6" />
      <AwsIcon class="size-6" />
    </Card>
    <Card
      class="bg-white p-4 flex justify-center flex-wrap gap-4 relative overflow-visible"
    >
      <Pill class="bg-black text-white absolute -top-2 h-3">Lenguajes</Pill>
      <RubyIcon class="size-6" />
      <DartIcon class="size-6" />
      <JavaScriptIcon class="size-6" />
      <TypeScriptIcon class="size-6" />
    </Card>
  </div>
</Card>
